* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffe9f0, #e2f3ff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding: 20px 25px 30px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.slides {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    display: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px;
}


#nextBtn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: #ff9a9e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#nextBtn:hover {
    background-color: #ff6f91;
}



@media (max-width: 480px) {
    .slider-wrapper {
        padding: 15px 15px 25px;
    }

    .slides {
        height: 220px;
    }

    .slide-box {
        font-size: 24px;
    }

    #nextBtn {
        width: 100%;
    }
}
